/* $accent-color: #e7e7e7;
$brand-color:#fe4141;
$dark-color: #1e1b26; */


.comment-container{
    margin-top: 15px;
color: white;
padding: 0 15% ;
/* background: linear-gradient( rgb(0 0 0), rgb(23 21 29 / 74%)), url(https://www.themoviedb.org/t/p/original/vXJZEQ0MqVpJLMfVLG8RhcjFAw.jpg); */
/* background-repeat: no-repeat;
background-position: bottom;
background-size: cover; */
}

.comment-pannel{
border-top: 1px rgba(255, 255, 255, 0.452) solid;
}
.comments{
display: flex;
flex-direction: column;

padding: 10px;
gap: 20px;
margin-top: 10px;

}
.comment-review{
    display: flex;
    flex-direction:row;
    border-radius: 10px;
    padding: 10px;

background-color: #1e1b268c;
min-height: 150px;

}
.avatar{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    
    overflow: hidden;
    margin: 10px;
   
}
.user{

    min-width: 15%;
}
.avatar img{
    border: #fe4141 solid 2px;
    border-radius: 50%;
    height: inherit;
    width: inherit;
}
.userscore{
    float: right;
    
}
.showmore{
   justify-content: center;
   padding-top: 15px;
height: 50px;
background-color: #1e1b268c;
text-align: center;
    width: 100%;
    

}
.showmore-btn{
text-decoration: none;
margin-bottom: 10px;
color: white;

}