.navbar{
    position: fixed;
    height: 60px;
width: 100%;
}

body{
    color: white;
}

.inner-header{
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
color: white;
}
ul{
    list-style: none;
}
