:root{
    --red:rgb(248,0,64);
--blue: rgb(21,9,65);
}

.banner{
    min-height: 39vh;
    width: 100%;
    background:url(../img/backdrop1.jpg) center no-repeat;
    box-shadow:  0px 0px 11px 3px hsl(0deg 0% 50%);
    background-size: cover;

}
body{background-color: #ECECEC;
    
    
    /* rgb(23,23,23);*/ 
}

.profile-container{
    display: flex;
    flex-direction: row;
}

.userinfo-card{
    width: 20vw;
    position: relative;
    height: 80vh;
    background-color: white;
    margin-left: 4vw;
    
    margin-top: -27vh;
    /* rgb(236,236,236); */
    margin-left: 4vw;
    
    box-shadow: 0px 0px 11px 3px hsl(0deg 0% 50%);
    border-radius: 9px;
}
.userinfo-card img{
    width: inherit;
}
.mytop{
    box-shadow:  0px 0px 11px 3px hsl(0deg 0% 50%);
    border-radius: 9px;
    width: 61vw;
    background-color: white;
    height: 30vh;
}
.lists{
    padding: 52px;
    margin-top: -16vh;
    width: auto;
}
.usertitle{
    display: flex;
    flex-direction: row;
    color: white;
    font-family: "Libre Franklin";
    margin-bottom: 10vh;
    
}
.mylists{
    color: white;
    margin-top: 4vh;
}
.title{
    color: var(--red);
    font-size: 20px;
}
.nav-header{
    background-color: transparent;
    position: fixed;
    width: 100%;
}
.btn-follow{
    width: 65%;
    margin-left: 8%;
    border-radius: 24px;
    display: block;
    border: 0;
    cursor: pointer;
    color: var(--blue);
    font-weight: bold;
    position: absolute;
    font-family: 'Libre Franklin';
    margin-top: -7vh;
    background: white;
    font-size: 16px;
    height: 2.3rem;
}
.usertitle-word{
    font-family: 'Roboto', sans-serif;
    font-size: 47px;
}