.search-container{
    
    margin: 0 15%;
position: relative;

}
body{
    background-color: #0b151a;
}
.filters{
    height: 60px;
    background-color: #18191c;
}
select{
    height: inherit;
    font-size: larger;
    background-color: transparent;
    font-weight: bold;
    color: white;
    outline: none;
    border: 0;
padding: 10px;
}
option{
    background-color: #0b151a;
    height: 20px;
    color: white;
    font-size: large;
}
.results{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.movie-img img{
    width: 100%;
    border-radius: 15px;
    aspect-ratio: auto 526 / 789;
}
.movie-img{
    width: 250px;
}
.search-card{
    margin: 0 20px;
}