.container {
  display: grid;
  grid-template-columns: 20% auto;
  grid-template-rows: 1fr;
  grid-auto-columns: 100%;
  gap: 0px 35px;
height: max-content;
  grid-auto-flow: row;
  grid-template-areas: "posterside infoside";
}

.posterside {
  grid-area: posterside;
}

.infoside {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 59.2% 40.8%; */
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "movieinfo" "summery";
  grid-area: infoside;
}

.summery {
  grid-area: summery;
  padding: 20px 0;
  border-top: 1px rgba(255, 255, 255, 0.651) solid;
}

.movieinfo {
  display: grid;
  grid-template-columns: 76.4% 23.6%;
  grid-template-rows: 1fr;
  gap: 0px 20px;
  grid-auto-flow: row;
  grid-template-areas: "info1 watchopts";
  grid-area: movieinfo;
  padding-bottom: 50px;
}

.info1 {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 26.8% 73.2%; */
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "titlepart" "Details-cast";
  grid-area: info1;
  width: 100%;
  height: 100%;
}

.Details-cast {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "details cast";
  /* margin-top: 10px; */
  grid-area: Details-cast;
}

.details {
  grid-area: details;
  margin-top: 30px;
}

.cast{
  grid-area: cast;
  
  
  margin-top: 30px;
}
.cast ul{
  list-style: none;
  display: flex;
  flex-direction: column;
}
.cast ul li {
  display: inline-flex;
  align-items: center;
}
.cast ul li span img{
border-radius: 50%;
background-image: url(../img/user.png);
width: 30px;
    margin-right: 15px;
    height: 30px;
}


.titlepart {
  grid-area: titlepart;
overflow: auto;
  height: max-content;
}

.watchopts {
  grid-area: watchopts;
  padding: 10px;
}

html, body, .container {
  height: 100%;
  margin: 0;
}