* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(../img/pic7.jpg);
	height: fit-content;
	background-size: cover;
	background-position: center;
}

.navigation-bar {
	position: sticky;
	display: flex;
	align-items: center;
	padding: 20px;
	padding-left: 80px;
	padding-right: 30px;
	padding-top: 50px;
}

.logo {
	position: absolute;
	margin-top: 10px;
}

.logo a {
	text-decoration: none;
	color: rgb(248, 246, 246);
	font-size: 30px;
	font-family: 'Kaushan Script', cursive;
}

nav {
	flex: 1;
	position: fixed;
	right: 0;
}

nav ul {
	display: inline-block;
	list-style: none;
}

nav ul li {
	display: inline-block;
	margin-right: 90px;
	margin-top: 17px;
}

nav ul li a {
	text-decoration: none;
	font-size: 20px;
	color: rgb(255, 255, 255);
	font-family: sans-serif;
}

nav ul li a:hover {
	color: rgb(255, 0, 0);
}

.row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.col-1 {
	background: rgba(211, 211, 211, 0.466);
	flex-basis: 50%;
	min-width: 300px;
}

.form-box {
	width: 300px;
	height: 450px;
	position: inherit;
	padding-left: 600px;
	padding-top: 60px;
	background: rgba(196, 196, 196, 0)
}

.main-heading {
	color: rgba(255, 0, 0, 0.918);
	padding-top: 0px;
	font-family: 'Kaushan Script', cursive;
}

.form {
	position: relative;
	margin: 0 auto 100px;
	padding: 50px;
	text-align: center;
}

.form input {
	font-family: sans-serif;
	outline: none;
	border: none;
	border-bottom: 1px solid black;
	width: 100%;
	margin: 0 0 15px;
	padding: 15px;
	font-size: 14px;
	border-radius: 5px;
}

.form button {
	font-family: sans-serif;
	width: 100%;
	color: white;
	font-size: 14px;
	cursor: pointer;
	padding: 15px;
	border: none;
	background: rgb(255, 0, 0);
	border-radius: 5px;
}

.form button:hover, .form button:active {
	background: #000000;
}

.form .message {
	font-size: 12px;
	margin: 15px 0 0;
	color: white;
}

.form .message a {
	color: rgb(218, 32, 32);
	text-decoration: none;
}

.form .register-form {
	display: none;
}

.defination {
	text-align: left;
	font-size: 30px;
	color: white;
	font-family: 'Kaushan Script', cursive;
	padding-left: 60px;
}

.animation-area {
	width: 100%;
	height: 100vh;
}

.box-area {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.box-area li {
	position: absolute;
	display: table-cell;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(211, 211, 211, 0.466);
	animation: animate 20s linear infinite;
	bottom: -150px;
}

.box-area li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}

.box-area li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}

.box-area li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}

.box-area li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}

.box-area li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}

.box-area li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}

.icon {
	position: fixed;
	width: 90px;
	margin-top: 150px;
	transition: all 0.3s linear;
	box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, .4);
}

.icon li {
	height: 60px;
	position: relative;
}

.icon li a {
	color: white;
	display: block;
	height: 100%;
	width: 100%;
	line-height: 60px;
	padding-left: 25%;
	border-bottom: 1px solid rgba(0, 0, 0, .4);
	transition: all .3s linear;
}

.icon li:nth-child(1) a {
	background: #4267B2;
}

.icon li:nth-child(2) a {
	background: #1DA1F2;
}

.icon li:nth-child(3) a {
	background: #E1306C;
}

.icon li:nth-child(4) a {
	background: #2867B2;
}

.icon li:nth-child(5) a {
	background: #333;
}

.icon li:nth-child(6) a {
	background: #ff0000;
}

.icon li a i {
	position: absolute;
	top: 17px;
	left: 20px;
	font-size: 27px;
}

.icon ul li a span {
	display: none;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.icon a:hover {
	z-index: 1;
	width: 200px;
	border-bottom: 1px solid rgba(0, 0, 0, .5);
	box-shadow: 0 0 1px 1px rgba(0, 0, 0, .3);
}

.icon ul li:hover a span {
	padding-left: 30%;
	display: block;
}