
.navbar{
    position: fixed;
    height: 60px;
    
width: 100%;
}
.logo{
height: 50px;
background-color: white;
}
body{
    color: white;
}

.inner-header{
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
color: white;
}
ul{
    list-style: none;
}
.Search{
    width: auto;
    font-size: large;
}
.big-poster{
    transition: 0.3s ease;
    display: grid;
    position: relative;
    z-index: -1;
    height: 97vh;
    background-image: url(../img/backdrop1.jpg);
    background-position: top;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    -webkit-mask-image: linear-gradient(to top, transparent 5%, black 20%);
}


.popular{
    display: grid;
position: relative;
    z-index: 223;
    height: 60vh;
}
.popular-info{
margin-top: 22vh;
padding-right: 15px;
padding-left: 8vw;
width: 45vw;
backdrop-filter: blur(3px);
height: auto;
-webkit-mask-image: linear-gradient(to left, transparent 15%, black 25%);
}
.popular h1{
    font-family: 'Njord';
    font-size: 45px;
    width: 75%;
    text-shadow: #323942 4px 5px 0px;
    
}
.popular h3{
    padding: 10px 0 8px 0;
    font-family: 'TheArtist';
    text-shadow: #770808 2px 2px 0px;
    border-bottom: 1px rgba(255, 255, 255, 0.452) solid;
    color: #fcbe11;
    font-size: 30px;
font-style: italic;
    /* font-weight: 500; */
    /* font-family: 'IBM Plex Mono', monospace; */
    
}
.pop-sum{
    padding-top: 10px;
    width: 25vw;
}
.pop-sum p{
    font-size: 18px;
    font-weight: 100;

}
.readmore{
    width: 7vw;
    height: 5vh;
    backdrop-filter: blur(5px);
    background: #a5a5a598;
    color: white;
    outline: none;
    font-weight: bold;
    font-family: 'TheArtist';
 cursor: pointer;
font-size: 17px;

margin-left: 30vh;
    margin-top: 3vh;
}
.card-details{
  position: absolute;
  
  
}
.card-details h4{
    font-family: 'Njord' !important;
}

.pop-card-holder{
    
    height: auto;
    width: 40%;
    margin-top: -40vh;
    margin-left: 10vh;
    z-index: 2;
}
.pop-card-holder h2{
    padding-bottom: 30px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
    text-shadow: #444343d8 2px 2px 0px;
}
.pop-cards{
    
    
    
    position: relative;
    height: 300px;
    width: 600px;
    
    /* left: calc(50% - 300px); */
    display: flex;

}
.movie-card{
    overflow: hidden;
    display: flex;
    height: 210px;
    
    background-color: #17141d;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
    cursor: pointer;
    aspect-ratio: auto 526 / 789;
}
.movie-card:not(:first-child) {
    margin-left: -50px;
}
.movie-card img{
    width: 100%;

}
.movie-card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .movie-card:hover ~ .movie-card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
 
  
  hr{
      
      /* color: #b4b4b4;
     height: 0.5px;
      margin: 0 25%; */
  }
 
  .card-info{
      position: relative;
     
  }
  .card-watched{
top: 5px;
transition: 0.2s ease;
 left: 5px;
 color: white;
 padding: 0 10px 0 0;
  }
  .card-watched:hover{
  background-color: #00f699;
  border-color: #00f699;
  
  }
  .card-add{
      top: 41px;
      transition: 0.2s ease;
     color: white;
      }
.card-add:hover{
    background-color: #8300f7;
    border-color: #8300f7;
    
      }
  .card-button{
    border-radius: 20px;
    background-color: rgba(8,17,24,0.7);;
    transition: 0.3s ease;
    width: 30px;
    cursor: pointer;
    border: 0;
    /* color: white; */
    padding: 0 10px 0 0;
    font-size: small;
    height: 30px;
    position: absolute;
   font-weight: bold;
    left: 5px;
    white-space: nowrap; 
    overflow: hidden;
    
    text-overflow: clip;
  }
  
  .pick{
    height: 60vh;

    position: relative;
}
  .pick-bg{
      background-image: url(../img/backdrop3.jpg);
      background-size: cover;
      background-position: right;
      background-repeat: no-repeat;
      width: 100%;
      position: absolute;
      height: inherit;
  }
  .pick-info{
      top:10vh;
      font-family: 'Njord';
    position: absolute;
  }
  .pick-info h1{
      font-family: inherit;
  }
  .title{
      font-family: 'TheArtist';
      font-size: larger;
  }
  .card-rate{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom,rgba(8,17,24,0.85),rgba(8,17,24,0) 51%,rgba(8,17,24,0.85));
    -webkit-transition: opacity ease-in-out 100ms;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    transition: opacity ease-in-out 100ms;
    
}
.movie-img:hover .card-rate{
    opacity: 1;
    
    }
 .movie-img:hover .card-add{
        width: 110px;
    }
    .movie:hover .card-add{
        width: 110px;
    }


 .movie-img:hover .card-watched{
        width: 90px;
    }
    .movie:hover .card-watched{
        width: 90px;
    }
 .search-card:hover .card-name{
        color: white;
      }

.card-ratings{
    left: 20px;
    position: absolute;
    bottom: 7px;
    text-align: center;
}
.card-ratings span{
    display: block;
    color: #fff;
    opacity: 0.8;
    font-size: 14px;
}
.card-ratings b{
    font-size: 17px;
    font-family: ProximaNova-Bold,Arial,sans-serif;
    font-weight: bold;
}
.card-ratings img{
    opacity: 0.85;
    margin-bottom: 3px;
    width: 36px;
    border-radius: 15px;
    height:18px;
    
}
.card-name{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: left;
    color: #838383;
    -webkit-transition: color ease-in-out 100ms;
    transition: color ease-in-out 100ms;
    font-size: 14px;
    line-height: 1.2;
    max-height: 3.6em;
    overflow: hidden;
    white-space: normal;
    max-width: 160px;
}
