html{
    height: 100%;
    
}

.search-container {
    /* background-color: #0b151a; */
    margin: 80px 64px;
    position: relative;
    flex: 1 0 auto;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #0b151a;;
}

.filters {
    height: 60px;
    background-color: #18191c;
}

select {
    height: inherit;
    font-size: larger;
    background-color: transparent;
    font-weight: bold;
    color: white;
    outline: none;
    border: 0;
    padding: 10px;
}

option {
    background-color: #0b151a;
    height: 20px;
    color: white;
    font-size: large;
}

.results {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-img img {
    width: 100%;
    border-radius: 15px;
    aspect-ratio: auto 526 / 789;
}

.movie-img {
    width: 170px;
    position: relative;
    margin-bottom: 9px;
}

.search-card {
    margin: 20px 15px;
}

.search-details {
    padding: 10px;
}

.query {
    padding: 20px 0;
    font-family: 'Libre Franklin';
    font-weight: bold;
}

footer{
    margin-top: auto;
}